#Copyright (c) 2023 Oracle Corporation and/or its affiliates.
#Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

provider "oci" {
  region           = "<region where custom content to be imported>"
  fingerprint      = ""
  private_key_path = ""

  tenancy_ocid = ""
  user_ocid    = ""

}

terraform {
  required_providers {
    oci = {
      source  = "oracle/oci"
      version = ">= 4.67.3"
    }
  }
  required_version = ">= 1.3.0"
}
