#Copyright (c) 2023 Oracle Corporation and/or its affiliates.
#Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

products="Oracle Adv1,Oracle Asts1"
schema_names={
              "{SCHEMA1}" = "ABC"
              "{SCHEMA2}" = "XYZ"
              }
